@model FrontEndInterview.ViewModels.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>    
      
    </div>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/tether/tether.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/Js/Client.js"></script>
</body>
</html>
